# IDE and Editor
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

.omo/
.omx
.omc/
.claude/
.gemini/
.copilot/


cli/Cargo.lock
cli/target/*

*.ko
*.mod
*.mod.c
*.o
*.cmd
.*.cmd
.*.o
Module.symvers
modules.order

decompiled
docs

# Misc
*.log
*.tmp
*.bak
